@using Presentation.Extensions
@using CrossCutting
@model ERP_CRM_Solution.ViewModels.UsuarioViewModel
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div id="content" class="wraper container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="col-lg-12 col-md-12 col-sm-12">
            @*Atalhos*@
            <div class="row">
                <h3 style="color:olivedrab; font-weight:bold">Dashboard - Service Desk</h3>
                <div class="form-group" style=" margin-left: -15px; margin-right: -15px;">
                    <br />
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        @Html.ButtonLinkIndex(text: "Serviços", action: "MontarTelaServico", controller: "Servico", buttonClass: "success")
                        @Html.ButtonLinkIndex(text: "Clientes", action: "MontarTelaCliente", controller: "Cliente", buttonClass: "success")
                        @Html.ButtonLinkIndex(text: "Produtos", action: "MontarTelaProduto", controller: "Produto", buttonClass: "success")
                        @Html.ButtonLinkIndex(text: "Formas de Pagamento", action: "MontarTelaFormaPagamento", controller: "FormaPagamento", buttonClass: "success")
                        @Html.ButtonLinkIndex(text: "Atendimentos", action: "MontarTelaAtendimento", controller: "Atendimento", buttonClass: "primary")
                        @Html.ButtonLinkIndex(text: "Ordens de Serviço", action: "MontarTelaOrdemServico", controller: "OrdemServico", buttonClass: "primary")
                        @Html.ButtonLinkIndex(text: "Dashboard", controller: "Servico", action: "Voltar")
                    </div>
                    <br /><br />
                </div>
            </div>

            @*Estatísticas*@
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="ibox-content text-center">
                        <h1>@Model.USUA_NM_NOME.Substring(0, Model.USUA_NM_NOME.IndexOf(" "))</h1>
                        <div class="m-b-sm">
                            <img alt="image" class="img-circle" src="@Url.Content(Model.USUA_AQ_FOTO)" style="width: auto; height: auto; max-height: 90px; max-width: 90px;">
                        </div>
                        <p class="font-bold">@((String)Session["NomeGreeting"])</p>

                        <div class="text-center">
                            @Html.ButtonLinkIndex(text: "Perfil", action: "MontarTelaPerfilUsuario", controller: "Usuario", buttonClass: "btn btn-xs btn-white")
                            @if (Model.PERFIL.PERF_SG_SIGLA == "ADM")
                            {
                                @Html.ButtonLinkIndex(text: "Dashboard Pessoal", action: "CarregarDashPessoal", controller: "BaseAdmin", buttonClass: "btn btn-xs btn-primary")
                            }
                        </div>
                    </div>
                </div>
            
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-warning pull-right">Hoje</span>
                            <h5>Resumo Atendimentos</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">Total</small>
                                    <h4>@ViewBag.Total</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Total (Mês)</small>
                                    <h4>@ViewBag.TotalMes</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Em Atraso</small>
                                    <h4>@ViewBag.Atraso</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <small class="stats-label">Encerrados</small>
                                    <h4>@ViewBag.Encerrados</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Encerrados (Mês)</small>
                                    <h4>@ViewBag.EncerradosMes</h4>
                                </div>
                                <div class="col-xs-4">
                                    <small class="stats-label">Fora SLA</small>
                                    <h4>@ViewBag.ForaSLA</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>      
            </div>
        
            @*Indicadores*@
            <br />
            <div class="row">

                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Indicadores</h5>
                        </div>
                        <div class="ibox-content ibox-heading">
                            <h3><i class="fa fa-line-chart"></i> Indicadores</h3>
                            <small><i class="fa fa-tim"></i> Valores acumulados/atualizados até hoje</small>
                        </div>
                        <div class="ibox-content" style="height: 1800px">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-xs-12">
                                    <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                        <div class="ibox-title">
                                            <h4>Gráfico de Atendimentos por Data - Mês Corrente</h4>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                <canvas id="barChartATD" height="150"></canvas>
                                            </div>
                                        </div>
                                        @Html.ButtonLinkIndex(text: "Ver Todas as Datas", action: "MontarTelaVerTodasDatas", controller: "Atendimento", buttonClass: "success")
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-12">
                                    <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                        <div class="ibox-title">
                                            <h4>Gráfico de Atendimentos por Situação</h4>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                <canvas id="doughnutChartCS" height="150"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>                         
                            </div>
                        
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-xs-12">
                                    <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                        <div class="ibox-title">
                                            <h4>Gráfico de Atendimentos por Categoria</h4>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                <canvas id="doughnutChartCT" height="150"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-lg-6 col-md-6 col-xs-12">
                                    <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                        <div class="ibox-title">
                                            <h4>Atendimentos por Cliente - Mais Solicitados</h4>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                @if ((ViewBag.ListaAtendCliente as List<ERP_CRM_Solution.ViewModels.ModeloViewModel>).Count > 0)
                                                {
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <thead style="background-color:lightsteelblue">
                                                            <tr>
                                                                <th>Cliente</th>
                                                                <th>Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var cond in (ViewBag.ListaAtendCliente as List<ERP_CRM_Solution.ViewModels.ModeloViewModel>).Take(10))
                                                            {
                                                                <tr>
                                                                    <td>@cond.Nome</td>
                                                                    <td>@cond.Valor1</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                }
                                                @Html.ButtonLinkIndex(text: "Ver Todos Clientes", action: "MontarTelaVerTodosClientes", controller: "Atendimento", buttonClass: "success")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-xs-12">
                                    <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                        <div class="ibox-title">
                                            <h4>Atendimentos por Produto - Mais Solicitados</h4>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                @if ((ViewBag.ListaAtendProduto as List<ERP_CRM_Solution.ViewModels.ModeloViewModel>).Count > 0)
                                                {
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <thead style="background-color:lightsteelblue">
                                                            <tr>
                                                                <th>Produto</th>
                                                                <th>Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var cond in (ViewBag.ListaAtendProduto as List<ERP_CRM_Solution.ViewModels.ModeloViewModel>).Take(10))
                                                            {
                                                                <tr>
                                                                    <td>@cond.Nome</td>
                                                                    <td>@cond.Valor1</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                }
                                                @Html.ButtonLinkIndex(text: "Ver Todos Produtos", action: "MontarTelaVerTodosProdutos", controller: "Atendimento", buttonClass: "success")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-12">
                                    <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                        <div class="ibox-title">
                                            <h4>Atendimentos por Serviço - Mais Solicitados</h4>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                @if ((ViewBag.ListaAtendServico as List<ERP_CRM_Solution.ViewModels.ModeloViewModel>).Count > 0)
                                                {
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <thead style="background-color:lightsteelblue">
                                                            <tr>
                                                                <th>Serviço</th>
                                                                <th>Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var cond in (ViewBag.ListaAtendServico as List<ERP_CRM_Solution.ViewModels.ModeloViewModel>).Take(10))
                                                            {
                                                                <tr>
                                                                    <td>@cond.Nome</td>
                                                                    <td>@cond.Valor1</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                }
                                                @Html.ButtonLinkIndex(text: "Ver Todos Serviços", action: "MontarTelaVerTodosServicos   ", controller: "Atendimento", buttonClass: "success")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-xs-12">
                                    <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                        <div class="ibox-title">
                                            <h4>Gráfico de Atendimentos por Atribuição</h4>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                <canvas id="doughnutChartAT" height="150"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-lg-6 col-md-6 col-xs-12">
                                    <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                        <div class="ibox-title">
                                            <h4>Gráfico de Atendimentos por Prioridade</h4>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                <canvas id="doughnutChartPR" height="150"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-xs-12">
                                    <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                        <div class="ibox-title">
                                            <h4>Gráfico de Atendimentos por Tipo</h4>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                <canvas id="doughnutChartTI" height="150"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-lg-6 col-md-6 col-xs-12">
                                    <div class="col-lg-12 col-md-12 col-xs-12 ibox float-e-margins" style="border-bottom: solid; border-bottom-color: darkblue; border-bottom-width: 2px; border-left: solid; border-left-color: darkblue; border-left-width: 1px; border-right: solid; border-right-color: darkblue; border-right-width: 1px; border-top: solid; border-top-color: darkblue; border-top-width: 1px">
                                        <div class="ibox-title">
                                            <h4>Tempos Médios de Atendimento por Usuário</h4>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="row">
                                                @if ((ViewBag.ListaTempoUsuario as List<ERP_CRM_Solution.ViewModels.ModeloViewModel>).Count > 0)
                                                {
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <thead style="background-color:lightsteelblue">
                                                            <tr>
                                                                <th>Usuário</th>
                                                                <th>Horas Totais</th>
                                                                <th>Média por Atendimento</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var cond in (ViewBag.ListaTempoUsuario as List<ERP_CRM_Solution.ViewModels.ModeloViewModel>).Take(10))
                                                            {
                                                                <tr>
                                                                    <td>@cond.Data</td>
                                                                    <td>@CrossCutting.Formatters.DecimalFormatter(Convert.ToDecimal(cond.ValorDouble))</td>
                                                                    <td>@CrossCutting.Formatters.DecimalFormatter(Convert.ToDecimal(cond.ValorDouble2))</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>





                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>
</div>

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}

@section Scripts {

    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/sparkline")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chartjs")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>



    <script>
        function mostrarDesc(desc) {
            $('#modalDescBody').html(desc);
            $('#modalDesc').modal('show');
        }
    </script>
    @*<script type="text/javascript">
            $(document).ready(function () {

                $('.dataTables-example').DataTable({
                    pageLength: 25,
                    dom: '<"html5buttons"B>lTfgitp',
                    buttons: [
                        { extend: 'excel', title: 'Excel' },
                        { extend: 'pdf', title: 'PDF' },

                        {
                            extend: 'print',
                            customize: function (win) {
                                $(win.document.body).addClass('white-bg');
                                $(win.document.body).css('font-size', '10px');

                                $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                            }
                        }
                    ]

                });



            });
        </script>*@

    <script type="text/javascript">
        $(document).ready(function () {

            $('body').addClass('light-navbar');

            $("#sparkline1").sparkline([5, 12, 6, 4, 15, 1, 11, 8], {
                type: 'line',
                width: '100%',
                height: '60',
                lineColor: '#1ab394',
                fillColor: "#ffffff"
            });

        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('body').addClass('light-navbar');

            $("#sparkline2").sparkline([1, 3, 6, 2, 7, 1, 5, 3], {
                type: 'line',
                width: '100%',
                height: '60',
                lineColor: '#1ab394',
                fillColor: "#ffffff"
            });

        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: '../Servico/GetDadosGraficoAtendDia'
                , type: 'POST'
                , success: function (result) {
                var barData = {
                    labels: result.dias,
                    datasets: [
                        {
                            label: "Atendimentos por Dia",
                            backgroundColor: 'rgba(26,179,148,0.5)',
                            pointBorderColor: "#fff",
                            data: result.valores
                        }
                    ]
                };

                var barOptions = {
                    responsive: true
                };

                var ctx2 = document.getElementById("barChartATD").getContext("2d");
                new Chart(ctx2, { type: 'bar', data: barData, options: barOptions });
              }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: '../Servico/GetDadosGraficoSituacao'
                , type: 'POST'
                , success: function (result) {
                var doughnutData = {
                   labels: result.labels,
                   datasets: [{
                     data: result.valores,
                     backgroundColor: result.cores
                   }]
                };
                var doughnutOptions = {
                   responsive: true
                };
                var ctx4 = document.getElementById("doughnutChartCS").getContext("2d");
                new Chart(ctx4, { type: 'doughnut', data: doughnutData, options: doughnutOptions });
              }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: '../Servico/GetDadosGraficoCategoria'
                , type: 'POST'
                , success: function (result) {
                var doughnutData = {
                   labels: result.labels,
                   datasets: [{
                     data: result.valores,
                     backgroundColor: result.cores
                   }]
                };
                var doughnutOptions = {
                   responsive: true
                };
                var ctx4 = document.getElementById("doughnutChartCT").getContext("2d");
                new Chart(ctx4, { type: 'doughnut', data: doughnutData, options: doughnutOptions });
              }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: '../Servico/GetDadosGraficoAtribuicao'
                , type: 'POST'
                , success: function (result) {
                var doughnutData = {
                   labels: result.labels,
                   datasets: [{
                     data: result.valores,
                     backgroundColor: result.cores
                   }]
                };
                var doughnutOptions = {
                   responsive: true
                };
                var ctx4 = document.getElementById("doughnutChartAT").getContext("2d");
                new Chart(ctx4, { type: 'doughnut', data: doughnutData, options: doughnutOptions });
              }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: '../Servico/GetDadosGraficoPrioridade'
                , type: 'POST'
                , success: function (result) {
                var doughnutData = {
                   labels: result.labels,
                   datasets: [{
                     data: result.valores,
                     backgroundColor: result.cores
                   }]
                };
                var doughnutOptions = {
                   responsive: true
                };
                var ctx4 = document.getElementById("doughnutChartPR").getContext("2d");
                new Chart(ctx4, { type: 'doughnut', data: doughnutData, options: doughnutOptions });
              }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                url: '../Servico/GetDadosGraficoTipo'
                , type: 'POST'
                , success: function (result) {
                var doughnutData = {
                   labels: result.labels,
                   datasets: [{
                     data: result.valores,
                     backgroundColor: result.cores
                   }]
                };
                var doughnutOptions = {
                   responsive: true
                };
                var ctx4 = document.getElementById("doughnutChartTI").getContext("2d");
                new Chart(ctx4, { type: 'doughnut', data: doughnutData, options: doughnutOptions });
              }
            });
        });
    </script>


    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                  alert("@ViewBag.Message");
            };
        </script>
    }
}
